[Unit]
Description=Run monitoring script every minute
Requires=test_monitoring.service

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
AccuracySec=1s
Persistent=true

[Install]
WantedBy=timers.target